site_name: CP scheduling
site_url: https://cp-scheduling.readthedocs.io/en/latest/
repo_url: https://github.com/leonlan/cp-scheduling
edit_uri: edit/main/docs/
repo_name: leonlan/cp-scheduling

nav:
    - Home: index.md
    - About: about.md
    - 'Models':
        - Distributed flow shop: models/distributed-flow-shop.md
    - Notes: notes.md

theme:
  name: material
  features:
    - content.action.view
  icon:
    repo: fontawesome/brands/github

watch:
- src/

plugins:
  - mkdocstrings:
      handlers:
        python:
          options:
            docstring_style: numpy
            docstring_section_style: spacy
            members_order: source
            show_submodules: true
            show_signature: false
  # "Last updated" and "created" datetime stamps on each page.
  - git-revision-date-localized:
      timezone: Europe/Amsterdam
      locale: en
      fallback_to_build_date: false
      enable_creation_date: true
      exclude:
          - index.md
      enabled: true
      strict: true

# Render LaTeX with MathJax
extra_javascript:
  - https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.4/MathJax.js?config=TeX-AMS-MML_HTMLorMML

markdown_extensions:
  - mdx_math:
      # Enables $ for inline math.
      enable_dollar_delimiter: true
  - toc:
      permalink: true
